/* hjálpar class sem felur sjónrænt en skjálesarar lesa */
.sr-only:not(:focus, :active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}
